.body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.button{
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #863A18;
  color: white;
}
.button:hover{
  background-color: #F0530D;
}
@keyframes spin {
  from {transform:rotate(-360deg);}
}

@keyframes spin-again {
  from {transform:rotate(360deg);}
}

.rotation-animation{
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}
.rotation-animation:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.zoom-animation:hover{
  width: 60px;
  height: 60px;
}